{% extends "base.html" %}
{% block title %}INFO{% endblock %}
{% block content %}

<div class="container">

    <h1 class="title" id="highlight">RÓZSA SÁNDOR NEMZETI KÖZPÉNZTÉKOZLÁSI ALAP</h1>

    <div class="box" id="mainbox">
    
        <p>
            A Rózsa Sándor II. Népi Közpénz Tékozló Alap, azaz RÓSÁNÉKATÉKA a Magyar Kétfarkú Kutya Párt 2022-es kampánypénzének elköltésére kiírt pályázata. Szerencsére mi viccpárt vagyunk, megengedhetjük magunknak, hogy értelmes dolgokra költsük a közpénzt.
        </p>
        <p>
            2018-ban a kampánytámogatásunk nagy részét, kb 150 millió forintot tékozoltuk el a ti projektjeitekre, és 2019-ben a csekélyebb összegű párttámogatásunk is megpályáztattuk 20 millió értékben. Ezeket is meg tudjátok nézni itt.
        </p>
        <p>
            A mostani pályázati felhívásra N projektterv érkezett, közülük a 2. fordulóba jutott projektek kerültek fel ide.
        </p>

        <br>
        <h1>SZAVAZZATOK, TI MIRE KÖLTENÉTEK A KÖZPÉNZÜNKET?</h1>
        <br>
        <p>
            Az aláírásgyűjtés indulásáig döntünk a végső győztesekről, hogy mi fog megvalósulni a kampányidőszakban. A döntéskor a szavazás eredményét is figyelembe vesszük, de mellette a ganümédeszi kucsmagombák sugallatait követjük!
        </p>
        <br>
    </div>
</div>
<i>Verzió 0.5</i>

<script type ="text/javascript" src ="{{ url_for('static', filename='js/easter_egg.js') }}"></script>

{% endblock %}
