{% extends "base.html" %}
{% block title %}BEJELENTKEZÉS{% endblock %}
{% block content %}

<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
  <div class="container">
    <h1 class="title" id="highlight">BEJELENTKEZÉS</h1>
    <br>
    <img src="../static/img/google_icon.png" alt="Google icon" width="50" height="50"> 
	<a class="button" href="/login/google">Google bejelentkezés</a>
	<br>
	<br>
	<img src="../static/img/facebook_icon.png" alt="Facebook icon" width="50" height="50">
	<a class="button" href="/login/facebook">Facebook bejelentkezés</a>
	<hr>
+Jogi szöveg adatkezelés link
</div>
{% endblock %}
