{% extends "base.html" %}
{% block title %}BEJELENTKEZÉS{% endblock %}
{% block content %}
      
<h1 class="title is-3 mb-5" id="highlight">BEJELENTKEZÉS</h1>
<div class="container has-text-centered">
<div class="box">
{# Display Flask flash messages #}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="notification is-light p-0 mb-4">
            <ul class="list-none p-0">
            {% for category, message in messages %}
                <li class="py-2 px-4 rounded-md {% if category == 'success' %}has-background-success-light has-text-success{% elif category == 'danger' %}has-background-danger-light has-text-danger{% elif category == 'warning' %}has-background-warning-light has-text-warning{% else %}has-background-info-light has-text-info{% endif %} mb-2">
                    {{ message }}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endwith %}


<p class="subtitle is-5 mb-6">Jelentkezz be az alábbi lehetőségek egyikével</p>

<div class="field">
    <a class="button is-fullwidth is-large is-danger is-dark has-text-weight-bold" href="{{ url_for('google.login') }}">
        <span class="icon">
            <i class="fab fa-google"></i>
        </span>
        <span>Google</span>
    </a>
</div>

<div class="field">
    <a class="button is-fullwidth is-large is-info is-dark has-text-weight-bold" href="{{ url_for('facebook.login') }}">
        <span class="icon">
            <i class="fab fa-facebook"></i>
        </span>
        <span>Facebook</span>
    </a>
</div>

<div class="field">
    <a class="button is-fullwidth is-large is-info is-dark has-text-weight-bold" href="{{ url_for('login_keycloak') }}">
        <span class="icon">
            <i class="fab"></i>
        </span>
        <span>Keycloak</span>
    </a>
</div>




<hr class="my-5">
<p class="has-text-grey is-size-5">
    <a href="#">Jogi szöveg adatkezelés link</a>
</p>
</div>

{% endblock %}
